
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://source.unsplash.com/1600x900/?weather");
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 3em;
  width: 3em;
  background: rgb(53, 51, 51);
  color: whitesmoke;
}
input {
  border: none;
  padding: 0.4em;
  border-radius: 13px;
  background: rgb(53, 51, 51);
  color: whitesmoke;
  font-family: inherit;
  font-size: 110%;
  width: 100%;
}
button:hover {
  background: rgb(104, 101, 101);
}
